[flake8]
max-line-length = 92
ignore =
  # Ignore line length errors, since the black packages is in charge of this.
  E501
per-file-ignores =
exclude =
    .git
    __pycache__
    build
    dist
    .idea
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
