# This file is used by the PyTest package when tests are run. It's purpose is to ignore any
# intentionally uncovered files so that coverage can be an easily verifiable 100%
# From http://erik.io/blog/2014/09/11/why-and-how-test-coverage-100/
[report]
exclude_lines =
  pragma: no cover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    @abc.abstractmethod
    __all__

omit =
    */__init__.py
    */conftest.py
